.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.modaldropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1002;
}